<h1>Movie</h1>
<p>
   <strong>Title:
   <%= @movie.title %></strong>
</p>
<p>
   Director:
   <i><%= @movie.director %></i>
</p>
<p>
   Country:
   <i><%= @movie.country %></i>
</p>
<p>
   Genre:
   <i><%= @movie.genre%></i>
</p>
<p>
   Description:
   <i><%= @movie.description %></i>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: "Are you sure you want to delete #{@movie.title}?" }%>
<br>
<br>

<%= render 'comments/comment' %>
<br>
<br>
<%= render 'comments/form' %>
<br>
<%= link_to 'Back', movies_path %>
